
@{
    ViewData["Title"] = "GetEqufaxCibilDeatailsNoDataFound";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

@*<h1>GetEqufaxCibilDeatailsNoDataFound</h1>*@
<div style="text-align:center;margin-top: 140px;font-size:24px;">
   Oops...!No Data Found...!
</div>
