
@{
    ViewData["Title"] = "PendngReportBranch";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}


<div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="card-header"><strong> BUSINESS IN PROCESS  </strong><strong>   </strong></div>
            <div class="card-body card-block">
                <div class="row">



                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xl-12 no-padding">
                    <div class="card" id="maincard" style="display:none;">
                        <div class="card-body" style="background-color:#fff !important;">
                            <div class="table-responsive">

                                <div align="center" id="divpendingreportbranch" class="scrollbar square scrollbar-lady-lips thin" name="divpendingreportbranch" style="position: relative;min-height: 50px;max-height:330px;overflow: auto;display: block;">


                                 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts{

    <script src="~/ClientApp/PendingReport/PendingReportBranch.Controller.js"></script>

}