
@{
    ViewData["Title"] = "HoDirectPayment";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header"><strong> MD Approval</strong></div>
        <div class="card-body card-block" style="min-height:200px">
            <form name="paymentapproval" id="LoanStatmentsearch" method="post"></form>


            @*Bill type and expense load*@
            <div class="row form-group" id="billOfTypeDiv">
                <div id="typelength" class="col-lg-4">
                    <label for="cc-payment" class="control-label mb-1">Bill Type<b style="color:red">*</b></label>
                    <select name="ddlAssignedTo" id="billOfType" class=" form-control">
                        <option value="0">  Select type </option>
                        <option value="BILLVENDOR">VENDOR</option>
                        <option value="BILLEMPLOYEE">EMPLOYEE</option>
                    </select>
                    <label id="ddlAssignedTo-error" class="error" for="ddlAssignedTo" style="display:block"></label>
                </div>

                @*<div class="form-group">*@
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1"> Expense Type<b style="color:red">*</b></label>
                        <select name="ddlexpensetyp" id="ddlexpensetyp" class=" form-control">
                            <option value="0"> ------select expense type-------- </option>





                        </select>

                    </div>
                </div>
                @*</div>*@

            </div>


            @*<div class="row">
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                    <label for="cc-payment" class="control-label mb-1">MD Approval<b style="color:red">*</b></label>
                    <select name="ddlexpensetyp" id="ddlexpensetyp" class=" form-control">
                        <option value="0"> ------select expense type-------- </option>
                    </select>                  
                </div>
            </div>*@

            <div class="row">
                &nbsp;
            </div>





            <div class=" row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" id="bs_datepicker_container1">
                    <div class="form-group">
                        <label for="datepicker" class=" form-control-label mb-1">Date<b style="color:red"></b></label>
                        <input class="form-control datepicker " id="traDate" name="dtFromDate" placeholder="DD-MMM-YYYY" type="text" readonly="readonly" />
                        <label id="dtFromDate-error" class="error" for="dtFromDate" @*style="display:block" *@></label>


                    </div>
                </div>



                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Total Amount<b style="color:red"></b></label>
                        <input type="text" id="txtamount" name="txtamount" placeholder="Total Amount" class="form-control" readonly="readonly" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" />
                        <label id="txtUserID-error" class="error" for="txtUserID" style="display:block"></label>
                    </div>
                </div>




                @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">

                    <label for="cc-payment" class="control-label mb-1">Total GST<b style="color:red"></b></label>
                    <input type="text" id="txtgst" name="txtgst" placeholder="GST" class="form-control" maxlength="4" readonly="readonly" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" />
                    <label id="txtUserID-error" class="error" for="txtUserID" style="display:block"></label>
                </div>
            </div>*@




                <div id="limitamt" class="col-lg-2">
                    <div class="form-group">
                        <label class="control-label mb-1">Amount Limit</label>
                        <input type="text" id="txtamtLimit" name="amtLimit" placeholder="Amount Limit" class="form-control" maxlength="15" readonly>
                        <label id="amtLimit-error" class="error" for="amtLimit" style="display:block"></label>
                    </div>
                </div>







                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">

                        <label for="cc-payment" class="control-label mb-1">Exceed Amount<b style="color:red"></b></label>
                        <input type="text" id="txtexceedamt" name="txtexceedamt" placeholder="Exceed Amount" class="form-control" maxlength="4" readonly="readonly" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" />
                        <label id="txtUserID-error" class="error" for="txtUserID" style="display:block"></label>
                    </div>
                </div>

                @*View Bill*@
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                    <br />
                    <div class="form-group">
                        <button type="button" class="btn btn-link" id="viewinvoice">View Bill</button>
                    </div>
                </div>



            </div>






            <div class=" row">

                <div class="col-lg-6 col-md-2 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">Remarks<b style="color:red">*</b></label>
                        <input type="text" id="txtremarks" name="txtremarks" placeholder="Remarks" class="form-control text-uppercase" maxlength="200" oninput="this.value = this.value.replace(/[^a-zA-Z0-9., ]/g, '');" />
                        <label id="txtUserID-error" class="error" for="txtUserID" style="display:block"></label>
                    </div>
                </div>
            </div>







            <div class="text-right">


                <button type="button" class="btn btn-success" id="btnapprove" style="margin-top:50px;display:none;">Approve</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" id="btnreject" style="margin-top:50px;display:none;">Reject</button>
            </div>




        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-12 no-padding">
        <div class="col-md-12" id="total">
            <div class="card" id="maincard" style="display:none;">
                <div class="card-body" style="background-color:#fff !important;">
                    <div class="table-responsive">
                        <div align="center" id="hodetailsentry" name="hodetailsentry" style="position: relative;">


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-6">
                            <div class="small-box bg-dark" style="padding-left:50px;">
                                <div class="inner">
                                    <i class="fa fa-inr" style="color: #f93a3a;font-size: 20px;"></i>&nbsp;<span style="font-family:Open Sans,sans-serif;margin:0;font-size: 1.50rem;" id="amttotal">0.0</span>

                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>

                        </div>



                    </div>




                </div>

            </div>

        </div>
    </div>
    <div class="modal fade" id="ImageModel" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="largeModalLabel">Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="FnClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="ImageDiv" style="text-align:center;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div align="center" class="col-lg-12">
                        <button type="button" id="rtt" data-dismiss="modal" aria-label="Close" class="btn btn-primary" onclick="FnClose()"><i class="fa fa-close"></i>&nbsp;Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/bootstrap/dist/assets/js/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/assets/js/DataTable/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap/dist/assets/js/DataTable/dataTables.responsive.min.js"></script>
    <script src="~/lib/bootstrap/dist/assets/js/DataTable/responsive.bootstrap4.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/assets/js/DataTable/dataTables.buttons.min.js"></script>
        <script src="~/lib/bootstrap/dist/assets/js/DataTable/buttons.print.min.js"></script>*@
    <script src="~/ClientApp/HoDirectPayment/MdApproval.js"></script>

    <script src="~/ClientApp/PaymentAtBranch/InvoiceWebcamFile.js"></script>


}
