
@{
    ViewData["Title"] = "InvoiceEntry";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Invoice Entry</strong>
            </div>
            <div class="card-body card-block">
                <form name="frmAccountsApproval" id="frmAccountsApproval" method="post" class="form-horizontal">

                    <div class="row form-group">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label for="cc-payment" class="control-label mb-1">Select Vendor<b style="color:red">*</b></label>
                            <select name="ddlVendor" id="ddlVendor" class="form-control">
                                <option value="0"> ------------ Select ------------ </option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Deal Name <b style="color:red">*</b></label>
                                <input type="text" id="deal" name="deal" placeholder="Enter Deal Name" class="form-control" maxlength="100" >
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="bs_datepicker_container1">
                            <div class="form-group">
                                <label for="datepicker" class=" form-control-label mb-1">Select Month<b style="color:red">*</b></label>
                                <input class="form-control datepicker" id="year" name="year" placeholder="Select Month" readonly >
                                <label id="payType-error" class="error" for="payType" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Enter Taxable Value<b style="color:red">*</b></label>
                                <input type="text" id="taxval" name="taxval" placeholder="Enter Taxable Value" class="form-control" maxlength="15" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')">
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">GST<b style="color:red">*</b></label>
                                <input type="text" id="gst" name="gst" placeholder="GST" class="form-control" maxlength="15" readonly>
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Total Value<b style="color:red">*</b></label>
                                <input type="text" id="totval" name="totval" placeholder="Total Value" class="form-control" maxlength="15" readonly>
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>

                        @*<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="control-label mb-1">Revised Invoice<b style="color:red">*</b></label><br />
                <input type="checkbox" id="yes" name="yes" class="">
                <label for="yes">Yes</label>
                <input type="checkbox" id="no" name="no" class="" style="margin-left:15px">
                <label for="no">No</label>
            </div>
        </div>*@


                        <div class="col-md-3">
                            <div class="form-group" id="revinvoice">
                                <label for="agreemntfrom">Revised Invoice<span class="text-danger">*</span></label>
                                <br />
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="inyes" name="revinvoice" class="custom-control-input" value="1" />
                                    <label class="custom-control-label" for="inyes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="inno" name="revinvoice" class="custom-control-input" value="0" />
                                    <label class="custom-control-label" for="inno">No</label>
                                </div>
                            </div>

                        </div>

                        @*<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" id="innumber" style="display:none">
            <div class="form-group">
                <label class="control-label mb-1">Invoice Number<b style="color:red">*</b></label>
                <input type="text" id="Invoice" name="Invoice" placeholder="Enter Invoice Number" class="form-control" maxlength="15">
                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
            </div>
        </div>*@

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" id="innumber" style="display:none">
                            <label for="cc-payment" class="control-label mb-1">Invoice Number<b style="color:red">*</b></label>
                            <select name="Invoice" id="Invoice" class="form-control">
                                <option value="0"> ------------ Select Invoice ------------ </option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" id="amount" style="display:none">
                            <div class="form-group">
                                <label class="control-label mb-1">Amount<b style="color:red">*</b></label>
                                <input type="text" id="Amount" name="Amount" placeholder="Enter Amount" class="form-control" maxlength="15" readonly>
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="amount">
                            <div class="form-group">
                                <label class="control-label mb-1">Remarks<b style="color:red">*</b></label>
                                <input type="text" id="Remarks" name="Remarks" placeholder="Remarks" class="form-control" maxlength="100">
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>

                    </div>

             
                    <div class="text-right" style="margin-bottom:50px">
                        <button type="button" class="btn btn-success" id="submit">Confirm</button>
                        <button type="button" class="btn btn-success" id="Revsubmit" style="display:none">Approve</button>
                        <button type="button" class="btn btn-danger" id="exit">Exit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/ClientApp/ServiceFee/InvoiceEntry.js"></script>
}