@{
        ViewData["Title"] = "ResetPassword";
        Layout = "~/Views/Shared/_MFMainLayout.cshtml";
    }

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong>  Reset Password </strong></div>
            <div class="card-body card-block" style="min-height:100px">
                <form name="frmResetPassword" id="frmResetPassword" method="post">

                    <div class="row">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">User ID<b style="color:red">*</b></label>

                                <input type="text" id="txtUserID" name="txtUserID" class="form-control" placeholder="User ID" autocomplete="off">
                                <label id="txtUserID-error" class="error error-msg" for="txtUserID" style="display:block"></label>

                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">New Password<b style="color:red">*</b></label>
                                <input type="password" id="txtnewPass" name="txtnewPass" placeholder="New Password" minlength="5" maxlength="16" class="form-control" />
                                <label id="txtnewPass-error" class="error" for="txtnewPass" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btnwrap">
                            <br />
                            <button type="submit" class=" btn btn-primary">Reset </button>

                        </div>
                    </div>







                </form>
            </div>


            <!--Modal-->



        </div>

    </div>
</div>



@section Scripts{

        <script src="~/ClientApp/ResetPassword/ResetPassword.Controller.js"></script>
        <script src="~/ClientApp/ResetPassword/ResetPassword.Validator.js"></script>
    }


