
@{
    ViewData["Title"] = "SetRules";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong> Set Rules </strong></div>
            <div class="card-body card-block">
                <form name="frmSetRules" id="frmSetRules" method="post">

               
                    <!--Table-->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 no-padding">
                        <div class="card" id="maincard" style="display:none;">
                            <div class="card-body" style="background-color:#fff !important;">

                                <div class="table-responsive">

                                    <div align="center" id="divsetrules" name="divsetrules" style="position: relative;max-height: 350px;min-height:250px;overflow: auto;display: block;">

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>


                    <!--more-->


                    @*<div class="text-right">
                        <button type="submit" class="btn btn-success fc-center"><i class="fa fa-save"></i> &nbsp;Save </button>

                    </div>*@



                </form>
            </div>


            <!--Modal-->



        </div>

    </div>
</div>

@section Scripts{
<script src="~/ClientApp/SetRules/SetRules.Controller.js"></script>
<script src="~/ClientApp/SetRules/SetRules.Validator.js"></script>
   
}



