
@{
    ViewData["Title"] = "Trial Balance";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="card">
    <div class="card-body" @*style="height: 355px;" *@>
        <h3 class="card-title">Trial Balance</h3>
        <div class="row">
            @*<div class="col-md-2">
                <div class="form-group" id="DivFrmDate">
                    <label>From Date</label>
                    <input type="text" class="form-control datepicker" id="FrmDate" name="FrmDate">
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="form-group" id="DivDate">
                    <label>Date</label>
                    <input type="text" class="form-control datepicker" id="TraDate" name="TraDate">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Branch</label>
                    <select name="BranchID" id="BranchID" class=" form-control">
                        <option value="0">Select Branch</option>
                    </select>
                </div>
            </div>
            @*<div class="col-md-3">
                <div class="form-group">
                    <label>Accounts</label>
                    <select name="AccountID" id="AccountID" class=" form-control">
                        <option value="0">Select Account</option>
                    </select>
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="form-group" style="padding-top: 20px;">
                    <label>&nbsp;</label>
                    <button class="btn btn-success" id="btnSearch"><i class="fa fa-search"></i>&nbsp;Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="tblAccountsRetA" class="table table-bordered table-hover table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>Account No</th>
                            <th>Account Name</th>
                            <th style="text-align:right;">Debit</th>
                            <th style="text-align:right;">Credit</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align:right;font-weight: 625;" id="TotDrAmt">0.00</td>
                            <td style="text-align:right;font-weight: 625;" id="TotCrAmt">0.00</td>
                        </tr>
                    </tfoot>
                </table>
                <table id="tblAccountsRetB" width="100%" class="table table-bordered table-hover table-striped" hidden>
                    <thead>
                        <tr>
                            <th>Account No</th>
                            <th>Account Name</th>
                            <th  style="text-align:right;">Debit</th>
                            <th  style="text-align:right;">Credit</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>53<sup style="font-size: 20px"><i class="fa fa-inr"></i></sup></h3>

            <p>Bounce Rate</p>
        </div>
        <div class="icon">
            <i class="fa fa-inr"></i>
        </div>
    </div>
</div>*@

@section Scripts{
    <script src="~/lib/bootstrap/dist/assets/js/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Script/TrialBalance.js"></script>

}