
@{
    ViewData["Title"] = "PaymentBranchDMApproval";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}
@*<link rel="stylesheet" href="~/css/zoom/image-zoom.css">*@
<style type="text/css">
    .nb {
        height: 100%;
        width: 100%;
        /*overflow-x: scroll;
        overflow-y: scroll;*/
        overflow-x: auto;
        overflow-y: auto
        /*background-color: powderblue;*/
    }

    .north {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }

    .west {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
    }

    .south {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
    }

    .east {
        transform: rotate(270deg);
        -ms-transform: rotate(270deg); /* IE 9 */
        -webkit-transform: rotate(270deg); /* Safari and Chrome */
    }


    figure.containerZoom {
        background-position: 50% 50%;
        position: relative;
        width: 100%;
        overflow: hidden;
        cursor: zoom-in;
        margin: 0;
    }

        figure.containerZoom img {
            transition: opacity .5s;
            display: block;
            width: 100%;
        }

        figure.containerZoom.active img {
            opacity: 0;
        }
</style>
<div class="">
    <div class="col-lg-12">
        <div class="card">
            @*<div class="card-header" id="AH-header" style="display:none"><strong>AH RECOMMENDATION </strong></div>
        <div class="card-header" id="RM-header" style="display:none"><strong>RM RECOMMENDATION</strong></div>
        <div class="card-header" id="ZM-header" style="display:none"><strong>ZM RECOMMENDATION</strong></div>*@
            <div class="card-header" style="display:none" id="bhheader">
                <strong class="card-title">BH PAYMENT APPROVAL</strong>
            </div>
            <div class="card-header" style="display:none" id="excessheader">
                <strong class="card-title">EXCESS APPROVAL</strong>
            </div>
            <div class="card-body card-block">
                <form name="frmPaymetBranchDMApproval" id="frmPaymetBranchDMApproval" method="post" class="form-horizontal">

                    <div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <label for="cc-payment" class="control-label mb-1">Payment Request<b style="color:red">*</b></label>
                            <select name="ddlPayType" id="ddlPayType" class="form-control">
                                <option value="0"> ------------ Select ------------ </option>
                            </select>
                            <label id="ddlPayType-error" class="error" for="ddlPayType" style="display:block"></label>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                            <br />
                            <button type="button" class="btn btn-link" id="viewinvoice">View Receipt</button>

                        </div>




                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <label class="control-label mb-1">New /Resubmitted  PR</label>
                            <input type="text" id="prstatus" name="branch" placeholder="" class="form-control" maxlength="150" readonly>
                            <label id="branch-error" class="error" for="branch" style="display:block"></label>

                        </div>


                    </div>

                    <div class="modal fade" id="ImageModel" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="largeModalLabel">Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="FnClose()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12" id="ImageDiv" style="text-align:center;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div align="center" class="col-lg-12">
                                        <button type="button" id="rtt" data-dismiss="modal" aria-label="Close" class="btn btn-primary" onclick="FnClose()"><i class="fa fa-close"></i>&nbsp;Close</button>
                                        @*&nbsp;&nbsp;
                                    <button type="button" id="rotate" aria-label="rotate" onclick="" class="btn btn-primary">Rotate</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Payment Type</label>
                                <input type="text" id="payType" name="payType" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="payType-error" class="error" for="payType" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Vendor Name</label>
                                <input type="text" id="vendorName" name="vendorName" placeholder="" class="form-control" maxlength="50" readonly>
                                <label id="vendorName-error" class="error" for="vendorName" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">GSTN</label>
                                <input type="text" id="gstin" name="gstin" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="gstin-error" class="error" for="gstin" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Branch</label>
                                <input type="text" id="branch" name="branch" placeholder="" class="form-control" maxlength="150" readonly>
                                <label id="branch-error" class="error" for="branch" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Bill Date</label>
                                <input type="text" id="billdt" name="billdt" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="billdt-error" class="error" for="billdt" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">SGST</label>
                                <input type="text" id="sgst" name="sgst" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="sgst-error" class="error" for="sgst" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">CGST</label>
                                <input type="text" id="cgst" name="cgst" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="cgst-error" class="error" for="cgst" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">IGST</label>
                                <input type="text" id="igst" name="igst" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="igst-error" class="error" for="igst" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Current Amount For This PR</label>
                                <input type="text" id="reqAmt" name="reqAmt" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="reqAmt-error" class="error" for="reqAmt" style="display:block"></label>
                            </div>
                        </div>
                        <div id="reqtotamt" class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label mb-1">Monthly Requested Amount For This Payment Type</label>
                                <input type="text" id="totreqAmt" name="totreqAmt" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="totreqAmt-error" class="error" for="totreqAmt" style="display:block"></label>
                            </div>
                        </div>
                        <div id="limitamt" class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label mb-1">Amount Limit</label>
                                <input type="text" id="amtLimit" name="amtLimit" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="amtLimit-error" class="error" for="amtLimit" style="display:block"></label>
                            </div>
                        </div>
                        <div id="excamt" class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label mb-1">Excess Amount</label>
                                <input type="text" id="excessAmt" name="excessAmt" placeholder="" class="form-control" maxlength="15" readonly>
                                <label id="excessAmt-error" class="error" for="excessAmt" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Employee  </label>
                                <input type="text" id="requser" name="requser" placeholder="" class="form-control" maxlength="50" readonly>
                                <label id="requser-error" class="error" for="requser" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Employee Remark </label>
                                <input type="text" id="requserRemark" name="requserRemark" placeholder="" class="form-control" maxlength="150" readonly>
                                <label id="requserRemark-error" class="error" for="requserRemark" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" id="GLAHDetails" style="display:none;">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Recomended AH  </label>
                                <input type="text" id="recommendedAH" name="recommendedAH" placeholder="" class="form-control" maxlength="50" readonly>
                                <label id="recommendedAH-error" class="error" for="recommendedAH" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">AH Remark </label>
                                <input type="text" id="recommendedAHRemark" name="recommendedAHRemark" placeholder="" class="form-control" maxlength="150" readonly>
                                <label id="recommendedAHRemark-error" class="error" for="recommendedAHRemark" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" id="GLRMDetails" style="display:none;">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Recommended RM  </label>
                                <input type="text" id="recommendedRM" name="recommendedRM" placeholder="" class="form-control" maxlength="70" readonly>
                                <label id="recommendedRM-error" class="error" for="recommendedRM" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">RM Remark </label>
                                <input type="text" id="recommendedRMRemark" name="recommendedRMRemark" placeholder="" class="form-control" maxlength="150" readonly>
                                <label id="recommendedRMRemark-error" class="error" for="recommendedRMRemark" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" id="GLHOOPDetails" style="display:none;">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Recommended Head of Operations  </label>
                                <input type="text" id="recommendedHOP" name="recommendedHOP" placeholder="" class="form-control" maxlength="70" readonly>
                                <label id="recommendedHOP-error" class="error" for="recommendedHOP" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Head of Operations Remark </label>
                                <input type="text" id="recommendedHOPRemarks" name="recommendedHOPRemarks" placeholder="" class="form-control" maxlength="150" readonly>
                                <label id="recommendedHOPRemarks-error" class="error" for="recommendedHOPRemarks" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group" id="GLBusinessHeadDetails" style="display:none;">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Recommended Business Head </label>
                                <input type="text" id="recommendedBUHEAD" name="recommendedBUHEAD" placeholder="" class="form-control" maxlength="70" readonly>
                                <label id="recommendedBUHEAD-error" class="error" for="recommendedBUHEAD" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Business Head Remark </label>
                                <input type="text" id="recommendedBUHEADRemark" name="recommendedBUHEADRemark" placeholder="" class="form-control" maxlength="150" readonly>
                                <label id="recommendedBUHEADRemark-error" class="error" for="recommendedBUHEADRemark" style="display:block"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Remarks</label><b style="color:red">*</b>
                                <input type="text" id="dmremarks" name="dmremarks" placeholder="" class="form-control text-uppercase" maxlength="150" oninput="this.value = this.value.replace(/[^a-zA-Z0-9., ]/g, '');">
                                <label id="dmremarks-error" class="error" for="dmremarks" style="display:block"></label>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        @*<button type="button" class="btn btn-success" id="submit">Recommend</button>&nbsp;&nbsp;&nbsp;*@
                        <button type="button" class="btn btn-success" id="submit" style="display:none;">Approve</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-success" id="recommend" style="display:none;">Recommend</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" id="reject">Reject</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/ClientApp/PaymentAtBranch/BMRecommendationAtPaymentratification.js"></script>
    <script src="~/js/image-zoom.js"></script>
    @*<script src="~/js/jquery.min.js"></script>*@
}
