
@{
    ViewData["Title"] = "CouriersendtoHo";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}
<div class="">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Courier send to Ho</strong>
            </div>
            <div class="card-body card-block">
                <form name="frmcouriertoho" id="frmcouriertoho" method="post" class="form-horizontal">
                    @*<div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <label for="cc-ddldept" class="control-label mb-1">Department<b style="color:red">*</b></label>
                <select name="ddldept" id="ddldept" class="form-control">
                    <option value="0"> ------------ Select ------------ </option>

                </select>
                <label id="ddldept-error" class="error" for="ddldept" style="display:block"></label>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <label for="cc-ddlOutwardno" class="control-label mb-1">PR<b style="color:red">*</b></label>
                <select name="ddlOutwardno" id="ddlOutwardno" class="form-control">
                    <option value="0"> ------------ Select ------------ </option>

                </select>
                <label id="ddlPayType-ddlOutwardno" class="error" for="ddlOutwardno" style="display:block"></label>

            </div>
        </div>*@
                    <div class="card" id="maincard" style="display:none;margin-top: 20px;">
                        <div class="card-body" style="background-color:#fff !important; ">
                            <div class="table-responsive">
                                <div align="center" id="divdespatch" name="divdespatch" style="position: relative;min-height:100px;display: block;">
                                    <table class="table" id="tbldespatch">
                                        <thead>
                                            <tr>
                                                <th class="VCol" style="text-align:left;">PRID</th>
                                                <th class="VCol" style="text-align:left;">PAYMENT TYPE</th>
                                                <th class="VCol" style="text-align:left;">AMOUNT</th>
                                                <th class="VCol" style="text-align:left;">BILL NUMBER</th>
                                                <th class="VCol" style="text-align:left;">BILL DATE</th>
                                                <th class="VCol" style="text-align:left;">FROM DATE</th>
                                                <th class="VCol" style="text-align:left;">TO DATE</th>
                                                <th class="VCol" style="text-align:center;">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody id="paymenttabl"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="confirm" style="display:none;" class="text-right">
                        <button type="button" class="btn btn-success" id="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/ClientApp/PaymentAtBranch/senttoho.js"></script>
}