
@{
    ViewData["Title"] = "DespatchIntend";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Despatch</strong>
            </div>
            <div class="card-body card-block">

                <form name="frmDespatchIntend" id="frmDespatchIntend" method="post" class="form-horizontal">

                    @*<div class="row text-right">
            <div class="col col-lg-12">
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1"> Date Time: 10/12/2020 10:13 AM </label>
                </div>
            </div>
        </div>*@


                    <div class="row form-group">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <label for="cc-payment" class="control-label mb-1">Center<b style="color:red">*</b></label>
                            <select name="ddlIntend" id="ddlIntend" class="form-control">
                                <option value="0"> ------------ Select ------------ </option>
                                @*<option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>*@
                            </select>
                            <label id="ddlIntend-error" class="error" for="ddlIntend" style="display:block"></label>

                        </div>

                        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                            <label for="cc-payment" class="control-label mb-1">Delivery Address<b style="color:red">*</b></label>
                            <input type="text" id="deliveryAddress" name="deliveryAddress" placeholder="Delivery Address" class="form-control" readonly maxlength="50">
                            <label id="deliveryAddress-error" class="error" for="deliveryAddress" style="display:block"></label>


                        </div>


                    </div>

                   


                    <br />
                    <!---Table-->

                    <div class="card" id="maincard" style="display:none;"  >
                        <div class="card-body" style="background-color:#fff !important; ">

                            <div class="table-responsive">

                                <div align="center" id="divdespatch" name="divdespatch" style="position: relative;max-height: 350px;min-height:100px;overflow: auto;display: block;">

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Delivery Type<b style="color:red">*</b></label>
                                <select name="ddlDeliveryType" id="ddlDeliveryType" class="form-control">
                                    <option value="0">---------------- Select -----------------</option>
                                    @*<option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>*@
                                </select>
                                <label id="ddlDeliveryType-error" class="error" for="ddlDeliveryType" style="display:block"></label>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Vehicle Number<b style="color:red">*</b></label>
                                <input type="text" id="vehicleNo" name="vehicleNo" placeholder="Vehicle Number" class="form-control" maxlength="15">
                                <label id="vehicleNo-error" class="error" for="vehicleNo" style="display:block"></label>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label mb-1">Reference Number<b style="color:red">*</b></label>
                                <input type="text" id="referenceNo" name="referenceNo" placeholder="Reference Number" maxlength="20" class="form-control">
                                <label id="referenceNo-error" class="error" for="referenceNo" style="display:block"></label>

                            </div>
                        </div>
                    </div>
                    @*<div class="row form-group">

        </div>*@
                    <div class="text-right">
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>*@
                        <button type="submit" class="btn btn-success" id="acceptBtn">Accept</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/ClientApp/Despatch/DespatchForm.Validator.js"></script>
    <script src="~/ClientApp/Despatch/DespatchForm.Controller.js"></script>
}



