
@{
    ViewData["Title"] = "Changepassword";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><strong> Change Password </strong></div>
            <div class="card-body card-block">
                <form name="frmChangePassword" id="frmChangePassword" method="post">

                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">User ID<b style="color:red">*</b></label>
                                <input type="text" id="txtUserID" name="txtUserID" placeholder="Employee Code" maxlength="6" class="form-control" />
                                <label id="txtUserID-error" class="error" for="txtUserID" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Old Password<b style="color:red">*</b></label>
                                <input type="password" id="txtoldPass" name="txtoldPass" placeholder="Old Password" minlength="8" maxlength="16" class="form-control" />
                                <label id="txtoldPass-error" class="error" for="txtoldPass" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">New Password<b style="color:red">*</b></label>
                                <input type="password" id="txtnewPass" name="txtnewPass" placeholder="New Password"  minlength="8" maxlength="16" class="form-control" />
                                <label id="txtnewPass-error" class="error" for="txtnewPass" style="display:block"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Confirm Password<b style="color:red">*</b></label>
                                <input type="password" id="txtConfirmPass" name="txtConfirmPass" placeholder="Confirm Password"  minlength="8" maxlength="16" class="form-control" />
                                <label id="txtConfirmPass-error" class="error" for="txtConfirmPass" style="display:block"></label>
                            </div>
                        </div>
                        <br />

                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 btnwrap">
                            <br />
                            <button type="submit" class=" btn btn-primary">Submit </button>
                            @*<div class="float-right"><button type="submit" id="downloadbtn" name="downloadbtn" class="btn btn-primary">Download</button></div>*@

                        </div>


                    </div>

                    <!--Table-->

                </form>
            </div>
        </div>

    </div>
</div>
@section Scripts{

    <script src="~/ClientApp/ChangePassword/ChangePassword.Controller.js"></script>
    <script src="~/ClientApp/ChangePassword/ChangePassword.Validator.js"></script>

}