
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div style="text-align:center;padding-top: 8%;font-size: 15px;">
    <img src="~/lib/bootstrap/dist/images/loginlogo.png" />
    <h1>Welcome to</h1>
    <h1>Asirvad Accounts</h1>
</div>

@section Scripts{


    <script src="~/ClientApp/PaymentAtBranch/DashboardController.js"></script>

}