@{
    ViewData["Title"] = "Change_Int_Rate_maker";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Change Interest Rate (Request)</strong>
            </div>
            <div class="card-body">
                <form name="" id="" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="fundcat">Select Loan<span class="text-danger">*</span></label>
                                <select class="custom-select form-control" id="ddl_Reqst" name="Request" > </select>
                        </div>
                       
                    </div>
                  @*   <div class="row">
                        <div class="col-md-12" id="ShowtblDiv">
                                <div class="table-responsive">
                                    <table class="table table-hover table-success" id="tableShowRqst">
                                        <thead class="bg-danger text-black">
                                            <tr>
                                            </tr>
                                        </thead>
                                        <tbody class="border border-dark"></tbody>
                                    </table>
                                </div>
                            </div>
                    </div> *@


                    <div class="card" id="maincard" style="display:none;margin-top: 20px;">
                        <div class="card-body" style="background-color:#fff !important; ">
                            <div class="table-responsive">
                                <div align="center" id="divdespatch" name="divdespatch" style="position: relative;min-height:100px;overflow: auto;display: block;">
                                    <table class="table" id="tbldespatch">
                                        <thead>
                                            <tr>
                                                @* <th class="VCol" style="text-align:left;">#</th> *@
                                                <th class="VCol" style="text-align:left;">LOAN ID</th>
                                                <th class="VCol" style="text-align:left;">PROJECT CODE</th>
                                                <th class="VCol" style="text-align:left;">LOAN AMOUNT</th>
                                                <th class="VCol" style="text-align:left;">LOAN AVAILED ON</th>
                                                <th class="VCol" style="text-align:left;">AGREEMENT TO</th>
                                                <th class="VCol" style="text-align:left;">INTEREST RATE(%)</th>
                                                @* <th class="VCol" style="text-align:left;">PROVISION</th> *@
                                                @* <th class="VCol" style="text-align:left;">Maturity Date</th> *@
                                                <th class="VCol" style="text-align:center;">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Fidatatabl"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="row" id="divnewrate" style="display:none">
                        <div class="col-md-4" id="div_int_rate">
                                <label for="fundcat">New Interest Rate<span class="text-danger">*</span> </label>
                            <input type="text" class="form-control text-uppercase" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" id="txt_int_rate" name="Int_Rate" maxlength="6"   />
                          </div>
                       @*  <div class="col-md-4">
                                <label for="fundcat">From Date<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="txtfrom_dt" name="dateofpay" autocomplete="off" title="from Date" onkeypress="return false" readonly />
                        </div> *@

                        <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2" id="datepickerDatess">
                            <div class="form-group">
                                <label for="datepicker" class=" form-control-label mb-1">From Date</label><b style="color:red">*</b>
                                <input class="form-control datepicker " id="AgreeDt" name="dtToDate" type="text" readonly placeholder="mm/dd/yyyy" />
                                <label id="dtFromDate-error" class="error" for="dtToDate" style="display:block"></label>
                            </div>
                        </div>




                    </div>
                </form>      
                        </div>
            <div class="card-footer">
                <div class="text-end">
                    <input id="btnConf" type="button" value="Confirm" class="btn btn-primary"  />
                    <input id="btnExit" type="button" value="Exit" class="btn btn-danger"  />
                </div>
            </div>
                    </div>
                    </div>
    <input id="hdUserId" type="hidden" runat="server" />
    <input id="hdBranchId" type="hidden" runat="server" />
    <input id="hdFirmId" type="hidden" runat="server" />
</div>
@section Scripts {
    <script src="~/clientapp/treasurymanagement/intratechangemaker.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

  
























