@{
    ViewData["Title"] = "DepositWithBankRenewal";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}

<div class="">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">DEPOSIT WITH BANK RENEWAL REQUEST</strong>
            </div>
            <div class="card-body">
                <form name="" id="" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="fundcat">Select Fixed Deposit<span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlFiType" style="width:100%" name="Fund"> </select>
                        </div>
                    </div>
                   @*  <div class="row">
                        <div class="col">
                            <div class="tabs">
                                <div class="tab" id="ShowTblNewLoan" style="display:none">
                                    <input type="checkbox" id="chck1" class="inputAccord" />
                                    <label class="tab-label" for="chck1">Loan Deposit Details to be Requested</label>
                                    <div class="tab-content">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-success" id="tblShowNewLoan">
                                                <thead class="bg-inverse text-white">
                                                    <tr>
                                                    </tr>
                                                </thead>
                                                <tbody class="border border-dark"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> *@
                     
                <div class="card" id="maincard" style="display:none;margin-top: 20px;">
                    <div class="card-body" style="background-color:#fff !important; ">
                        <div class="table-responsive">
                            <div align="center" id="divdespatch" name="divdespatch" style="position: relative;min-height:100px;overflow: auto;display: block;">
                                <table class="table" id="tbldespatch">
                                    <thead>
                                        <tr>
                                            @* <th class="VCol" style="text-align:left;">#</th> *@
                                                <th class="VCol" style="text-align:left;">FD NUMBER</th>
                                                <th class="VCol" style="text-align:left;">DEPOSIT AMOUNT</th>
                                                <th class="VCol" style="text-align:left;">INTEREST RATE</th>
                                                <th class="VCol" style="text-align:left;">DEPOSIT DATE</th>
                                                <th class="VCol" style="text-align:left;">PURPOSE</th>
                                                <th class="VCol" style="text-align:left;">MATURITY DATE</th>
                                          @* <th class="VCol" style="text-align:left;">PROVISION</th> *@
                                            @* <th class="VCol" style="text-align:left;">Maturity Date</th> *@
                                            <th class="VCol" style="text-align:center;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Fidatatabl"></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">


                        @* <div class="col-md-3">
                        <label for="fundcat">Closing Date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="txtfrom_dt" title="from Date" maxlength="15" onkeyup="PricipleAmtWords.innerHTML=AmountToWords(this.value)" onkeypress="return false" />
                        </div>  *@


                        <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2" id="datepickerDate">
                            <div class="form-group">
                                <label for="datepicker" class=" form-control-label mb-1">Closing Date</label><b style="color:red">*</b>
                                <input class="form-control datepicker " id="AgreeDt" name="dtToDate" type="text" readonly placeholder="mm/dd/yyyy" />
                                <label id="dtFromDate-error" class="error" for="dtToDate" style="display:block"></label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="selloan"> Maturity Amount<span class="text-danger">*</span></label>
                            <input type="text" id="txt_Maturity_amount" class="form-control" style="width:100%" maxlength="15" name="txtmatamt"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                        </div>
                        <div class="col-md-3">
                           
                                <label for="selloan"> Interest rate: <span class="text-danger">*</span></label>
                                <input type="text" id="txt_Interest_rate" class="form-control" style="width:100%" maxlength="4" name="txtinrate"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                           
                        </div>


                        <div class="col-md-3">
                            <label for="selloan"> Interest Amount<span class="text-danger">*</span></label>
                            <input type="text" id="txt_interestamount" class="form-control" style="width:100%" maxlength="15" name="txtintamt"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">


                        </div>

                        <div class="col-md-3">
                            <label for="selloan"> TDS Amount  <span class="text-danger">*</span></label>
                            <input type="text" id="txt_tdsamount" class="form-control" style="width:100%" maxlength="15" name="txtintamt"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">


                        </div>


                        <div class="col-md-3">
                            <label for="selloan"> Deposit Amount<span class="text-danger">*</span></label>
                            <input type="text" id="txt_depositamount" class="form-control" style="width:100%" maxlength="15" name="txtintamt"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">


                        </div>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="text-end">
                    <input id="btnConf" type="button" value="Confirm" class="btn btn-primary"  />
                    <input id="BtnExit" type="button" value="Exit" class="btn btn-danger" />
                </div>

            </div>
        </div>
    </div>
</div>
<input id="hdUserId" type="hidden" runat="server" />
<input id="hdBranchId" type="hidden" runat="server" />
<input id="hdFirmId" type="hidden" runat="server" />



@section Scripts {

<script src="~/clientapp/treasurymanagement/depositwithbankrenewal.js"></script>



    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}








                        

                            



                   























                  





                              



                                   
                                        
                                         
                                           
                                      
                                  
                               
       









































































                


                 





                           
                               
                          
                       
                               
                           
                        














                            
                           
                  
                  

                    





























