@{
    ViewData["Title"] = "LoanAvailment";
    Layout = "~/Views/Shared/_MFMainLayout.cshtml";
}
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-blue-grey">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p style="color:#dbb714;font-family:'Myanmar Text'">Please Wait...</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">
                <strong class="card-title">Loan Availment</strong>
            </div>

            <div class="card-body">
                <div class="row">

                    <div class="col-md-3" id="divFiType" >
                        <div class="form-group">
                            <label for="fundcat">Financial Institution Type : <span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlFiType" name="FinancialInstitutionType">
                            </select>
                        </div>
                    </div>


                    <div class="col-md-3" id="divFi" >
                        <div class="form-group">
                            <label for="fundsubcat">Financial Institution :<span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlFi" name="FinancialInstitution">
                            </select>
                        </div>

                    </div>

                      <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Fund Category : <span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlCategory"  name="Fund Category">
                            </select>
                        </div>
                      </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundsubcat">Fund Sub Category : <span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlSubCat" name="Fund Sub Category" >
                            </select>
                        </div>
                    </div>
                   
                 </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ddlfund">Select Fund : <span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlfund" name="Fund Sub Category">
                            </select>
                        </div>
                    </div>

                 </div>



               <div class="card" id="maincard" style="display:none;margin-top: 20px;">
                    <div class="card-body" style="background-color:#fff !important; ">
                        <div class="table-responsive">
                            <div align="center" id="divdespatch" name="divdespatch" style="position: relative;min-height:100px;overflow: auto;display: block;">
                                <table class="table" id="tbldespatch">
                                    <thead>
                                        <tr>
                                        
                                            <th class="VCol" style="text-align:left;">Fund Category</th>
                                            <th class="VCol" style="text-align:left;"> FundType </th>
                                            <th class="VCol" style="text-align:left;">FundProviderType </th>
                                            <th class="VCol" style="text-align:left;">FundProvider</th>
                                            <th class="VCol" style="text-align:left;">Agreement Date </th>
                                            <th class="VCol" style="text-align:left;">Agreement From Date</th>
                                            <th class="VCol" style="text-align:left;">Agreement To Date</th>
                                            <th class="VCol" style="text-align:left;">Fund Limit</th>
                                            <th class="VCol" style="text-align:center;">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="Fidatatabl"></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div> 


            




                <div class="row">

                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Loan Limit:<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" id="txtLoanlimit" maxlength="15" class="form-control" name="txtLoanlimit" onclick="" onkeyup="PFAmtWords.innerHTML=AmountToWords(this.value)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled="disabled" />
                            </div>
                            <small id="PFAmtWords" class="form-text text-muted"></small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Loan Balance :<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" id="txtLoanbalan" maxlength="15" class="form-control" name="txtLoanbalan" onclick=""  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled="disabled" />
                            </div>
                            <small id="PFAmtWords" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Processing Fee :<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" id="txtProcessFee" maxlength="15" class="form-control" name="ProcessingFee" onclick=""  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" disabled="disabled" />
                            </div>
                            <small id="PFAmtWords" class="form-text text-muted"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Loan Amount :<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" id="txtloanamt" maxlength="15" class="form-control" name="Loan Amount" onclick="" onkeyup="PFAmtWords.innerHTML=AmountToWords(this.value)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            </div>
                            <small id="PFAmtWords" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Interest Type <span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlInttype" name="Intersttype"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="txtintrate">Interest Rate : <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" id="txtintrate" name="AllotmentDate" autocomplete="off" title="Allotment Date" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            </div>
                        </div>
                    </div>
                   

                </div>
                <div class="row">


                    


                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2" id="datepickerDate">
                        <div class="form-group">
                            <label for="datepicker" class=" form-control-label mb-1">Loan Available On:</label><b style="color:red">*</b>
                            <input class="form-control datepicker " id="txtAvailmentDate" name="dtToDate" type="text" readonly placeholder="mm/dd/yyyy" />
                            <label id="dtFromDate-error" class="error" for="dtToDate" style="display:block"></label>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Tenure (Days): </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                </div>
                                <input type="text" class="form-control" id="txtTenureday" title="securitymargin"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Loan Maturity Date :<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    
                                </div>
                                <input type="text" id="txtMaturityDate" class="form-control" name="Maturity Date" onkeyup="OCAmtWords.innerHTML=AmountToWords(this.value)" disabled="disabled" />
                            </div>
                            <small id="OCAmtWords" class="form-text text-muted"></small>
                        </div>
                    </div> 
                </div>
                

                <div class="row" div="divmethod" >
                    <div class="col-md-3" id="divint" style="display:none">
                        <div class="form-group">
                            <label for="fundcat">Interest Method <span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlintmet" style="width:100%" name="interest method" autopostback="true"> </select>
                        </div>
                    </div>
                    <div class="col-md-3" id="divprin" style="display:none">
                        <div class="form-group">
                            <label for="fundcat">Principal Method<span class="text-danger">*</span></label>
                            <select class="custom-select form-control" id="ddlprinmet" style="width:100%" name="principal method" autopostback="true"> </select>
                        </div>
                    </div>



                </div>

                <div class="row" div="divmode" style="display:none">
                    <div class="col-md-3" id="divmode">
                    <div class="form-group">
                        <label for="fundcat">Mode Of Payment:<span class="text-danger">*</span></label>
                        <select class="custom-select form-control" id="ddlprinmet" style="width:100%" name="principal method" autopostback="true"> </select>
                    </div>
                </div>



                    <div class="form-group">
                        <label for="fundcat">Rate Term: </label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" class="form-control" id="txtRateTerm" title="securitymargin" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                        </div>
                    </div>



              </div> 


                <div class="row" id="divtermloan">
                    <div class="col-md-12 my-3 text-center" id="divterm1">
                        <div class="form-group">

                            <h4 class="card-title"> <strong>Upload Repayment Shedule</strong> </h4>
                        </div>
                    </div>
                </div>

 
   
                 <div class="row" style="margin-top:15px">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12r">
                            <div >
                                <label>&nbsp;</label>
                                <input type="file" id="fileUpload" accept=".xls,.xlsx" name="Select File">
                            </div>
                    </div>

                    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12r" style="margin-left:-80px">
                            <div class="form-group" >
                                <button class="btn btn-success" onclick="_Loanavailment.GetData();" id="viewData"><i class="fa fa-search"></i>&nbsp;View Data</button>
                            </div>
                    </div>


                    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12r" style="margin-left:-160px">

                            <div class="form-group" >
                           
                            <a class="btn btn-warning" href="~/template/repaymentschedule.xlsx"><i class="fa fa-download"></i>&nbsp;Download Template</a>
                            </div>
                     </div>
                 </div>
 
                  

           

                <div class="row" id="divclass" style="display:none">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-12 no-padding">
                        <div class="card" id="maincard" style="">
                            <div class="card-body" style="background-color:#fff !important;min-height:200px;">



                                <div align="center" id="dvExcel" name="dvExcel" style="position: relative;min-height: 50px;overflow-x: auto;">
                                </div>


                            </div>
                        </div>

                    </div>

                </div>




                <br />
                <br />
                <div class="row">
                    <div class="col-md-12  text-center">
                        <div class="form-group">
                            <h4 class="card-title"> <strong>Loan Account Detail</strong></h4>
                        </div>
                    </div>

                </div>
               <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Main Account : <span class="text-danger">*</span></label>


                            <select id="ddl_DebmainAcc" class="custom-select form-control" name="Select Main Account" ></select>

                            <small id="DebAccName" class="form-text text-muted"></small>
                        </div>
                    </div>
                     <div class="col-md-3" id="ddlDebsubacsts" style="display:none">
                        <div class="form-group">
                            <label for="fundcat">Sub Account : <span class="text-danger">*</span></label>

                            <select id="ddl_DebSubAcc" class="custom-select form-control" name="Select Sub Account" ></select>
                        </div>
                        <small id="LoanSubDebAccName" class="form-text text-muted"></small>
                    </div> 


                  
               
                 <div class="col-md-3" id="ddlDebsubID" style="display:none">
                    <div class="form-group">
                        <label for="fundcat">Sub ID : <span class="text-danger">*</span></label>

                        <select id="ddl_DebSubID" class="custom-select form-control" name="Select Sub Account"></select>
                    </div>
                    <small id="LoanSubDebID" class="form-text text-muted"></small>
                 </div>


               </div>
               &nbsp;

               <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fundcat">Finance Cost Main Account : <span class="text-danger">*</span></label>

                            <select id="ddl_DebFImainAcc" s class="custom-select form-control" name="Select Main Account"></select>
                        </div>
                        <small id="DebFIAccName" class="form-text text-muted"></small>
                    </div>
               
                <div class="col-md-3" id="ddlDebFIsubacsts" style="display:none">
                    <div class="form-group">
                        <label for="fundcat">Finance Cost Sub Account : <span class="text-danger">*</span></label>

                        <select id="ddl_DebFISubAcc" class="custom-select form-control" name="Select Sub Account"></select>
                    </div>
                    <small id="LoanSubDebFIAccName" class="form-text text-muted"></small>
                </div>

                <div class="col-md-3" id="ddlDebFIsubID" style="display:none">
                    <div class="form-group">
                        <label for="fundcat">Finance CostSub ID : <span class="text-danger">*</span></label>

                        <select id="ddl_DebSubFIID" class="custom-select form-control" name="Select Sub Account"></select>
                    </div>
                    <small id="LoanSubDebFIID" class="form-text text-muted"></small>
                </div>

              </div>
                &nbsp;

             <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fundcat">Interest Main Account : <span class="text-danger">*</span></label>


                        <select id="ddl_DebINTmainAcc" class="custom-select form-control" name="Select Main Account" ></select>

                        <small id="DebINTAccName" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col-md-3" id="ddlDebINTsubacsts" style="display:none">
                    <div class="form-group">
                        <label for="fundcat">Interest  Sub Account : <span class="text-danger">*</span></label>

                        <select id="ddl_DebINTSubAcc" class="custom-select form-control" name="Select Sub Account"></select>

                        <small id="LoanSubDebINTAccName" class="form-text text-muted"></small>
                    </div>
                </div>

            </div>

           </div>
            <div class="row">
                <div class="col-md-12 text-lg-center">
                    <div class="form-group">
                        <h4 class="card-title"><strong>Bank Account Details</strong></h4>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="fundcat">Main Account : <span class="text-danger">*</span></label>


                        <select id="ddl_mainAcc" class="custom-select form-control" name="Select Main Account" ></select>

                        <small id="LoanAccName" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="col-md-3" id="ddlsubacsts" style="display:none">
                    <div class="form-group">
                        <label for="fundcat">Sub Account : <span class="text-danger">*</span></label>

                        <select id="ddl_SubAcc" class="custom-select form-control" name="Select Sub Account"></select>

                        <small id="LoanSubAccName" class="form-text text-muted"></small>
                    </div>
                </div>
            </div>

           
            <div class="card-footer text-end">
                <input id="btnconfirm" type="button" style="background-color:forestgreen;color:white; width:70px; height:30px; margin-left:1000px;" value="Confirm" class="btn btn-primary" />

                <input id="btnexit" type="button" style="background-color:red; color:white;width:70px;height:30px;" value="Exit" class="btn btn-danger" />
            </div>
        </div>

    </div>

</div>




@section Scripts {
   
    <script src="~/clientapp/treasurymanagement/loanavailment.js"></script>
  

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}
